.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgba(133, 37, 197, 0.829);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    display: flex;
    align-items: center;
    color: rgb(245, 177, 5);
    margin: 0 25px;
}

.header_logoImage {
    margin-right: 10px;
}

.header_logoTitle {
    text-decoration: none;
    border: 0;
    color: snow;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: rgb(245, 177, 5);
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:snow
}

.nav_itemLineOne {
    font-size: 10px;
}

.nav_itemLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.nav_itemBasket {

    display: flex;
    align-items: center;
    color: rgb(245, 177, 5);
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.nav_basketCount {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: snow
}